/* define splace font */
@font-face {
    font-family: circular;
    src: url("font/CircularStd-Book.otf");
}

@font-face {
    font-family: circularItalic;
    src: url("font/CircularStd-BookItalic.otf");
}

@font-face {
    font-family: circularBold;
    src: url("font/CircularStd-Bold.otf");
}

@font-face {
    font-family: circularBoldItalic;
    src: url("font/CircularStd-BoldItalic.otf");
}

/* no margins for the demo and splace font as default */
body {
	padding: 0px;
	margin: 0px;
	font-family: circular;
	height: 100%;
	color: #ffffff;

	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(right, #f51f21, #f19d2b); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left, #f51f21, #f19d2b); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #f51f21, #f19d2b); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to left, #f51f21, #f19d2b); /* Standard syntax */
}

div#mattonTypo {
	width: 620px;
	height: 349px;
	background-image: url('typo.png');
	position: absolute;
	left: 0px;
	top: 300px;
}

div#mattonPreview {
	width: 240px;
	height: 160px;
	background-image: url('preview.jpg');
	position: absolute;
	left: 40px;
	top: 100px;
}

div#mattonDoubt {
	width: 240px;
	height: 50px;
	text-decoration: underline;
	position: absolute;
	left: 195px;
	top: 210px;
	font-size: 50px;
	line-height: 90px;
	font-family: circularBold;
}

div#mattonInstructions {
	width: 434px;
	height:	142px;
	background-image: url('instructions.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 20px;
	right: 40px;
}

div.mattonInstructionsText {
	text-align: center;
	position: absolute;
	top: 100px;
}

div#mattonInstructionsStep1 {
	left: 0px;
}

div#mattonInstructionsStep2 {
	left: 144px;
}

div#mattonInstructionsStep3 {
	left: 288px;
}

div.mattonVideoPosition {
	position: absolute;
	width: 450px;
	height: 450px;
	right: 30px;
	top: 170px;
}

div#mattonVideoBackground {
	background: #000000;
	opacity: 0.5;
	z-index: 10;
}

div#mattonVideoPreview {
	z-index: 12;
	cursor: pointer;
}

div#mattonVideoPlay {
	width: 88px;
	height: 91px;
	background-image: url('play.png');
	background-repeat: no-repeat;
	opacity: 1.0;
	position: absolute;
	left: 181px;
	top: 181px;
}

div#mattonInfoMessage {
	opacity: 1.0;
	width: 450px;
	height: 40px;
	position:absolute;
	top: 276px;
	text-align: center;
}

div#mattonVideoFrame {
	display: none;
}

