	.bottom{
		top: 110px;
		width: 23%;
		height: 70%;
		left: 20px;
		position: fixed;
	}

	img{
		width:233px;
	}

	#bottom2{
		left: 263px;
	}

	#bottom3{
		left: 506px;

	}
	#bottom4{
		left: 739px;
	}
	.page{
		width:1027px;
		height:730px;
		
	}
	
	#page1{
		background-image: url("back1.jpg");
		background-repeat: no-repeat;
		background-size: 1024px 730px;
		z-index: -11;
	}

	/* Seite2 */	
	#page2{
		display: none;
		background-image: url("back2.jpg");
		background-repeat: no-repeat;
		background-size: 1024px 730px;
		z-index: -11;
	}
	
	#figure{
		top: 110px;
		width: 233px;
		height: 70%;
		left: 375px;
		position: fixed;
		z-index: 2;
	}
	
	#topDIV {
	   width:230px;
	   height: 300px;
       left: 375px;
       position: fixed;
       top: 110px;
	   z-index: 1;
	   max-width: 200px;
	   background-color: #dfe5e5;
	}
	
	#bottomDIV {
	   width:230px;
	   height: 213px;
       left: 375px;
       position: fixed;
       top: 410px; 
	   z-index: 1;
	   max-width: 200px;
	   background-color: #dfe5e5;
	}
	
	#camera{
        width:100px;
        position: fixed;
        top: 3%;
        left: 100px;
    }
	
	.image-upload > input{
        display: none;
    }
	
	#back{
        width:100px;
        position: fixed;
        top: 580px;
        left: 100px;
    }
	

	.swatch {
		width:100px;
		height: 50px;
		border-style:solid;
        position: fixed;
        left: 50px;
		border-color: #798d8e;
		border-width: 5px;
	}
    
	#yourimage {
		height:150px;	
		width: 200px;
		position: fixed;
		border-style:solid;
		left: 50px;
		top: 150px;
		display: none;
		border-color: #798d8e;
		border-width: 5px;
		border-bottom-right-radius: 2px;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
	}

    
    #swatch0 {
        top: 307px;
		display: none;
		
    }
    #swatch1 {
        top: 357px;
		display: none;
    }
    #swatch2 {
        top: 407px;
		display: none;
    }
    #swatch3 {
        top: 457px;
		display: none;
    }
    #swatch4 {
        top: 507px;
		display: none;
		border-top-right-radius: 2px;
		border-bottom-left-radius: 30px;
    }
	
	#swatch0b {
        top: 307px;
		display: none;
		left: 150px;		
    }
    #swatch1b {
        top: 357px;
		display: none;
		left: 150px;	
    }
    #swatch2b {
        top: 407px;
		display: none;
		left: 150px;	
    }
    #swatch3b {
        top: 457px;
		display: none;
		left: 150px;	
    }
    #swatch4b {
        top: 507px;
		display: none;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 30px;
		left: 150px;	
    }
	
	.pattern{
	   z-index: 10;
       width:150px;
       height: 100px;
       border-style:solid;
       border-color: #798d8e;
	   border-width: 5px;
	   top:200px;
	   position: fixed;
	   border-bottom-left-radius: 30px;
	   border-top-left-radius: 30px;
	   border-top-right-radius: 30px;
	   border-bottom-right-radius: 30px;
    }
	
		
	#character{
		width:100%;
	}
	
	 #pattern0 {
        background-size: 14px 24px;
		display: none;
		left: 645px;

    }

    
    #pattern1 {
		display: none;
		left: 825px;
    }
	
	#pattern2 {
        background-size: 14px 24px;
		display: none;
		left: 645px;
		top:400px;
    }
    
    #pattern3 {
		display: none;
		left: 825px;
		top:400px;
    }
	
	.jacket{
		width:40%;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		
	}
	
	.slide{
		display: none;
	}
	
	#sliderTopL{
		top: 340px;
		left: 657px;
		position: fixed;
	}
	
	#sliderTopR{
		top: 340px;
		left: 842px;
		position: fixed;
	}
	
	#sliderBottomL{
		top: 535px;
		left: 657px;
		position: fixed;
	}
	
	#sliderBottomR{
		top: 535px;
		left: 842px;
		position: fixed;
	}
	
		input[type='range'] {
		-webkit-appearance: none;
		border-radius: 5px;
		box-shadow: inset 0 0 5px #333;
		background-color: #999;
		height: 10px;
		vertical-align: middle;
	}
	input[type='range']::-moz-range-track {
		-moz-appearance: none;
		border-radius: 5px;
		box-shadow: inset 0 0 5px #333;
		background-color: #999;
		height: 10px;
	}
	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		border-radius: 20px;
		background-color: #FFF;
		box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
		border: 1px solid #999;
		height: 20px;
		width: 20px;
	}
	input[type='range']::-moz-range-thumb {
		-moz-appearance: none;
		border-radius: 20px;
		background-color: #FFF;
		box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
		border: 1px solid #999;
		height: 20px;
		width: 20px;
	}
